<html lang="en">
  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">
      
        <title>NGSI CONNECTOR</title>
      
        <!-- Bootstrap core CSS -->
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

        <!-- Custom styles for this template -->
        <link href="/stylesheets/home.css" rel="stylesheet">
        <link href="/stylesheets/entity.css" rel="stylesheet">
      </head>

  <body>

    <%- include('./templatesTemp/navigation'); %>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">NGSIConnectorWEB</h1>
      <p class="lead">Summary of Create/Update operations</p>
      <p class="lead"><%= succ[0] %></p>
      <p class="lead"><%= succ[1] %></p>
      <p class="lead"><%= succ[2] %></p>


      <%if (typeof att != 'undefined') { %>
        <%- include('./templates/summary', {att: att}); %>
      <% } %>




      <br>
      <div class="card" id="igor" >
        <div class="card-header">
          Operation Summary
        </div>
        <ul class="list-group list-group-flush">
          <% if(data != 'undefined') { %>
            <% data.forEach(function(element){ %>
              <% if(element.error){ %>
                <li class="list-group-item list-group-item-success">Operation summary: <%- element.id %> <%- element.type %> <%- element.error %></li>
              <% } else{ %>
                <li class="list-group-item list-group-item-success">Operation summary: <%- element.id %> <%- element.type %></li>
              <% } %>
            <%});%>
          <% } else { %>
            <p><%= '' %></p>
          <% } %>
        </ul>
      </div>


    </div>

    <div class="container">
    <div class="row justify-content-center align-items-center">

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
          </div>
      </footer>
    </div>
    <%- include('./templatesTemp/scripts'); %>
  </body>
</html>
