<div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">id</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.id %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">type</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.type %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">accessLimitation</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.accessLimitation.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">brandName</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.brandName.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">cargoVolume</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.cargoVolume.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">category</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.category.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">colors</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.colors.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">compliantWith</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.compliantWith.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">depth</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.depth.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">family</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.family.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">features</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.features.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">height</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.height.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">image</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.image.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">inputControl</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.inputControl.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">insertHoleHeight</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.insertHoleHeight.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">insertHoleWidth</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.insertHoleWidth.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">insertHolesNumber</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.insertHolesNumber.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">loadType</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.loadType.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">madeOfCode</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.madeOfCode.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">madeof</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.madeOf.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">manufacturerName</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.manufacturerName.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">maximumInputVolume</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.maximumInputVolume.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">maximumLoad</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.maximumLoad.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">name</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.name.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">recommendedLoad</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.recommendedLoad.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">refInputs</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.refInputs.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">refOutputs</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.refOutputs.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">userldentification</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.userIdentification.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">weight</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.weight.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">width</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.width.value %> >
    </div>
  </div>
</div>
