<div class="">
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">id</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.id %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">type</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.type %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">location</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.location.value.coordinates %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">address</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.address.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">name</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.name.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">description</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.description.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">features</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.features.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">refDepositPoint</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.refDepositPoint.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">areaServed</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.areaServed.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">dateModified</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.dateModified.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">dateCreated</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.dateCreated.value %> >
    </div>
  </div>
</div>
