<div>
        <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">id</label>
                <div class="col-10">
                  <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.id %> >
                </div>
              </div>
              <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">type</label>
                <div class="col-10">
                  <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.type %> >
                </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">actuationHours</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.actuationHours.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">address</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.address.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">annotations</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.annotations.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">areaServed</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.areaServed.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">cargoWeight</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.cargoWeight.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">color</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.color.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">dateLastCleaning</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.dateLastCleaning.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">dateLastEmptying</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.dateLastEmptying.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">dateModified</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.dateModified.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">dateServiceStarted</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.dateServiceStarted.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">description</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.description.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">fillingLevel</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.fillingLevel.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">image</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.image.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">location</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled disabled value=<%=  element.location.value['coordinates'][0] - element.location.value['coordinates'][1] %>  >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">methaneConcentration</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.methaneConcentration.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">nextActuationDeadline</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.nextActuationDeadline.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">nextCleaningDeadline</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.nextCleaningDeadline.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">openingHours</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.openingHours.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">owner</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.owner.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">refDepositPointType</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.refDepositPointType.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">refDevice</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.refDevice.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">refSortingType</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.refSortingType.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">regulation</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.regulation.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">responsible</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.responsible.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">responsible</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.responsible.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">status</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.status.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">storedWasteOrigin</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.storedWasteOrigin.value %> >
                    </div>
              </div>
              <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">temperature</label>
                    <div class="col-10">
                      <input class="form-control" type="text" id="example-text-input" disabled value=<%=  element.temperature.value %> >
                    </div>
              </div>
</div>
