<div class="">
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">id</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.id %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">type</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.type %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">date</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.date.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">refCapturer</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.refCapturer.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">refEmitter</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.refEmitter.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">refReceiver</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.refReceiver.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">refTransferredResources</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.refTransferredResources.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">transferredLoad</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.transferredLoad.value %> >
    </div>
  </div>
</div>
