<div class="">
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">id</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.id %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">type</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.type %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">brandName</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.brandName.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">compactingRatio</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.compactingRatio.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">depth</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.depth.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">description</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.description.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">enginePower</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.enginePower.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">engineType</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.engineType.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">family</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.family.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">fuelConsumption</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.fuelConsumption.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">fuelDepositCapacity</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.fuelDepositCapacity.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">fuelType</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.fuelType.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">height</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.height.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">loadType</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.loadType.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">manufacturerName</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.manufacturerName.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">maxCargoPerAxe</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.maxCargoPerAxe.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">maxCargoVolume</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.maxCargoVolume.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">maxCargoWeight</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.maxCargoWeight.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">modelName</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.modelName.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">name</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.name.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">numberOfAxes</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.numberOfAxes.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">refInputs</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.refInputs.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">refOutputs</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.refOutputs.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">tireTypes</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.tireTypes.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">vehicleModelDate</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.vehicleModelDate.value="" %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">vehicleType</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.vehicleType.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">weight</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.weight.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">width</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.width.value %> >
    </div>
  </div>
</div>
