<div class="">
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">id</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.id %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">type</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.type %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">definitionSource</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.definitionSource.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">description</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.description.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">family</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.family.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">name</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.name.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">refCategory</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.refCategory.value %> >
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">wasteCode</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" disabled value=<%= element.wasteCode.value %> >
    </div>
  </div>
</div>
